:root {
    --color-por-img: #1f57c6;
    --color-por: #181818ec;
    --padding : 15px;
    --scale-factor : 1.12;
    --text-col: #909090;
    --link-hov: #5e5e5e;
    --ico-shadow-spread: 7px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: black #00000010;
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: azure;
    height: 100%;
    flex-flow: column nowrap;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

body > p {
    font-size: 65px;
    padding: 0;
    margin: 0;
    color: black;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

p , a {
    text-align: center;
    font-family: "fantasy" , sans-serif;
    font-weight: bolder;
}

.nav {
    background-color: var(--color-por);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 90vw;
    --padding : 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav > p {
    font-size: 1.5rem;
    color: white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav > img {
    width: 50px;
    filter: drop-shadow(0 0 5px black);
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.intro > .portofolio {
    image-rendering: auto;
    background-image: linear-gradient(to bottom , #363636 70%, #525252);
    padding: 40px;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 30px var(--color-por);
}

.intro > .portofolio:hover {
    transform: scale(var(--scale-factor));
}

.intro > img {
    width: 600px;
    height: 400px;
    image-rendering: auto;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 15px #2d2d2d);
    transition: 0.2s ease-in-out;
}

.intro > img:hover {
    transform: scale(var(--scale-factor));
}

.portofolio > img {
    --color-por-img: #1f57c6;
    border-radius: 20px;
    transition: 0.3s ease-in;
    filter: drop-shadow(0 0 7px var(--color-por-img));
}

.portofolio > img:hover {
    border-radius: 15px;
    filter: drop-shadow(0 0 10px var(--color-por-img));
}

.portofolio > div > p:first-child {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 10px white;
}

.portofolio > div > p:last-child {
    color:  var(--text-col);
    font-size: 15px;
}

::selection {
    background-color: white;
    color: black;
}

.so-cont {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.so-cont > a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    filter: drop-shadow(0 0 7px white);
    transition: 0.2s ease-in-out;
}

.so-cont a:first-child:hover {
    color: #181717;
    filter: drop-shadow(0 0 7px #181717);
}

.so-cont a:nth-child(2):hover {
    color: #5e52ef;
    filter: drop-shadow(0 0 7px #5e52ef);
}

.so-cont a:last-child:hover {
    color: #1DA1F2;
    filter: drop-shadow(0 0 7px #1DA1F2);
}

.infos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

.infos > p {
    font-size: 65px;
    color: black;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.infos > div {
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    align-items: center;
}

.infos > div > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.infos > div > div > p:first-child::selection {
    color: white;
    background-color: black;
}

.infos > div > div > p:first-child {
    font-size: 50px;
    color: black;
}

.infos > div > div > p:last-child {
    font-size: 25px;
    width: 70%;
    color: var(--text-col);
}

.samples-cont {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.samples-cont > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin-bottom: 100px;
    margin-top: 70px;
}

.samples-cont > div > img {
    filter: brightness(0.85);
}

.samples-cont > div > img:hover {
    filter: brightness(1);
}

.samples-cont > div:first-child > img {
    image-rendering: auto;
    height: 400px;
    border-radius: 40px;
    box-shadow: 0 0 30px #faebd7;
}

.samples-cont > div:last-child > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.samples-cont > div:last-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.samples-cont > div:last-child > div > div > a {
    text-decoration: none;
    font-size: 30px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.samples-cont > div:last-child > div > div > a:link {
    color: var(--text-col);
}

.samples-cont > div:last-child > div > div > a:hover ,
.samples-cont > div:last-child > div > div > a:visited:hover {
    color: var(--link-hov);
}

.samples-cont > div:last-child > img {
    image-rendering: auto;
    width: 600px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 30px black;
}

.samples-cont > div > div > a , .samples-cont > div > a {
    text-decoration: none;
    font-size: 30px;
    color: var(--text-col);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.samples-cont > div > div > a:hover ,
 .samples-cont > div > div > a:visited:hover ,
 .samples-cont > div > a:hover ,
 .samples-cont > div > a:visited:hover {
    color:  var(--link-hov);
}

.samples-cont > div > div > a:visited {
    color: var(--text-col);
}

.samples-cont > div > img {
    image-rendering: auto;
    transition: 0.3s ease-in-out;
}

.samples-cont > div > img:hover {
    transform: scale(1.1);
}

.social-media {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 80px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.social-media > p {
    font-size: 65px;
    color: black;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.social-media > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 80px;
}

.social-media > div > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom , #363636 70%, #525252);
    padding: 50px;
    border-radius: 30px;
    width: 250px;
    height: 200px;
    transition: 0.2s ease-in-out;
}

.social-media > div > div:hover {
    transform: scale(1.09);
}

.social-media > div > div > p {
    text-align: center;
    color: white;
    transition: 0.2s ease-in-out;
}

.social-media > div > div > p::selection {
    color: black;
    background-color: white;
}

.social-media > div > div > p:first-child {
    font-size: 45px;
}

.social-media > div > div > p:nth-child(2) {
    font-size: 30px;
}

.social-media > div > div > p:nth-child(3) {
    font-size: 16px;
}

.social-media > div > div[title="Twitter"] > p:first-child:hover {
    color: #1DA1F2;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #1DA1F2);
}

.social-media > div > div[title="Discord"] > p:first-child:hover {
    color: #5e52ef;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #5e52ef);
}

.social-media > div > div[title="Instagram"] > p:first-child:hover {
    color: #E4405F;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #E4405F);
}

.social-media > div > div[title="Facebook"] > p:first-child:hover {
    color: #1877F2;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #1877F2);
}

.social-media > div > div[title="Github"] > p:first-child:hover {
    color: #181717;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #181717);
}

.social-media > div > div[title="Steam"] > p:first-child:hover {
    color: #171A21;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #171A21);
}

.social-media > div > div[title="Chess"] > p:first-child:hover {
    color: #00B388;
    filter: drop-shadow(0 0 var(--ico-shadow-spread) #00B388);
}

.friends {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;
}

.friends > p {
    font-size: 65px;
    color: black;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.friends > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.friends > div > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.friends > div > div > img {
    image-rendering: auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.friends > div > div > img:hover {
    transform: scale(1.04);
}

.friends > div > div > p {
    font-size: 20px;
}

.friends > div > div > p::selection {
    color: white;
    background-color: black;
}